
.fundo {
    position: relative;
    height: 650px;
    width: 450px;
    border: 12px;
    border-radius: 6px;
    background: linear-gradient(rgba(90, 106, 255, 0.952), rgb(75, 78, 252));
    bottom: -140px;
    left: 800px;
    margin-bottom: 50px;
}

.semi-fundo {
    position: relative;
    height: 65px;
    width: 350px;
    border: 10px;
    border-radius: 6px;
    border-width: -10px;
    left: 10%;
    bottom: -20px;
    background: linear-gradient(rgba(4, 161, 252, 0.849), rgba(7, 147, 165, 0.753));
    text-align: center;
    color: #ffffff;
}

#Player {
    position: absolute;
    left: 15%;
    top: -8px;
    font-family: 'Retro Pixel';                                                                     ;
}

.semi-fundo2 {
    position: relative;
    height: 520px;
    width: 350px;
    border: 10px;
    border-radius: 5px;
    bottom: 5px;
    left: 10%;
    background: linear-gradient(rgba(17, 124, 212, 0.603), rgba(0,0,255,0.5));

}

#Missao {
    position: relative;
    color: rgba(255, 255, 27, 0.897);
    font-family: 'Retro Pixel';
    left: 25px;
    bottom: 5px;
    font-size: 30px;
}

#Level {
    position: relative;
    color: rgba(255, 255, 27, 0.897);
    font-family: 'Retro Pixel';
    left: 50px;
    bottom: 20px;
    font-size: 50px;
}

.semi-fundo3 {
    position: relative;
    width: 350px;
    height: 420px;
    background: linear-gradient(rgba(235, 232, 232, 0.938), rgba(238, 236, 236, 0.788));
    font-family: 'Retro Pixel';
    bottom: 20px;
}

img {
    position: relative;
    width: 130px;
    height: 130px;
    border: 4px solid #D3D3D3;
    border-radius: 5px;
    bottom: -15px;
    border-width: 5px;
    left: 16px;
}

form.area label, form.area input {
    font-family: 'Retro Pixel';
    font-size: 17px;
    position: relative;
    display: flex;
    width: 150px;
    height: 23px;
    border: 4px;
    border-radius: 5px;
    bottom: 100px;
    left: 170px;
}

form.area2 label, form.area2 input {
    font-size: 18px;
    font-family: 'Retro Pixel';
    position: relative;
    display: flex;
    width: 150px;
    height: 23px;
    border: 4px;
    border-radius: 5px;
    bottom: 80px;
    left: 170px;    
}

.xp {
    position: relative;
    margin-top: 20px;
    bottom: 30px;
}

.xp span {
    font-weight: bold;
    font-size: 20px;
}

.xp span:first-child {
    font-family: 'Retro Pixel';
    position: relative;
    right: -5px;
}

.xp span:last-child {
    position: relative;
    left: 200px;
}

.left {
    font-family: 'Retro Pixel';
    position: relative;
    left: 150px;
}

.xp-bar-bg {
    clear: both;
    background-color: #d1d1d1;
    border-radius: 8px;
    height: 16px;
    margin-top: 5px;
}

.xp-bar-fill {
    background-color: #f7c744;
    width: 40%;
    height: 100%;
    border-radius: 8px;
}

#conquista {
    font-family: 'Retro Pixel';
    font-size: 22px;
    color: #000000;
    bottom: 20px;
}

#conqui1 {
    position: relative;
    display: inline-block;
    transform: scale(2.5);
    top: 20px;
    left: 30px;
}

#conqui2 {
    position: relative;
    display: inline-block;
    transform: scale(2.5);
    left: 35%;
    top: 20px;
}

#conqui3 {
    position: relative;
    display: inline-block;
    transform: scale(2.5);
    left: 60%;
    top: 20px;
}